volumes:
  postgres_data_prod:
  minio_data_prod:

networks:
  btnetworkprod:

services:
  app:
    container_name: app_prod
    build:
      context: .
      network: host
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_URL: ${NEXT_PUBLIC_URL}
        NEXT_PUBLIC_MINIO_ENDPOINT: ${NEXT_PUBLIC_MINIO_ENDPOINT}
        DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public
        BT_USER_PASSWORD: ${BT_USER_PASSWORD}
        ADMIN_USER_PASSWORD: ${ADMIN_USER_PASSWORD}
    environment:
      NEXT_PUBLIC_URL: ${NEXT_PUBLIC_URL}
      SESSION_SECRET: ${SESSION_SECRET}
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public
      NEXT_PUBLIC_MINIO_ENDPOINT: ${NEXT_PUBLIC_MINIO_ENDPOINT}
      MINIO_SSL: ${MINIO_SSL}
      MINIO_USER: ${MINIO_USER}
      MINIO_PASSWORD: ${MINIO_PASSWORD}
    restart: unless-stopped
    ports:
      - 3000:3000
    networks:
      - btnetworkprod
    entrypoint: ['npm', 'run', 'start:prod']

  setup-minio-buckets:
    build:
      context: .
      dockerfile: Dockerfile-setup-minio-buckets
    environment:
      NEXT_PUBLIC_MINIO_ENDPOINT: ${NEXT_PUBLIC_MINIO_ENDPOINT}
      MINIO_SSL: ${MINIO_SSL}
      MINIO_USER: ${MINIO_USER}
      MINIO_PASSWORD: ${MINIO_PASSWORD}
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      BT_USER_PASSWORD: ${BT_USER_PASSWORD}
      ADMIN_USER_PASSWORD: ${ADMIN_USER_PASSWORD}
    networks:
      - btnetworkprod
    entrypoint: /app/scripts/minio/index.sh

  db:
    image: postgres:17.6
    container_name: db_prod
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data
    networks:
      - btnetworkprod
    ports:
      - 5432:5432

  minio:
    image: quay.io/minio/minio:latest
    container_name: minio_prod
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data_prod:/var/lib/minio/data
    networks:
      - btnetworkprod
    healthcheck:
      test: ['CMD', 'mc', 'ready', 'local']
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - 9000:9000
