volumes:
  minio_data_prod:

services:
  app:
    container_name: app_prod
    build:
      context: .
      network: host
      dockerfile: Dockerfile-prod
      args:
        NEXT_PUBLIC_URL: https://staging.basetime.online
        NEXT_PUBLIC_MINIO_ENDPOINT: https://pub-7948a7aff65c43eea2f780146a7e3661.r2.dev
        DATABASE_URL: ${DATABASE_URL}
        BT_USER_PASSWORD: ${BT_USER_PASSWORD}
        ADMIN_USER_PASSWORD: ${ADMIN_USER_PASSWORD}
    environment:
      NEXT_PUBLIC_URL: https://staging.basetime.online
      SESSION_SECRET: ${SESSION_SECRET}
      DATABASE_URL: ${DATABASE_URL}
      NEXT_PUBLIC_MINIO_ENDPOINT: https://pub-7948a7aff65c43eea2f780146a7e3661.r2.dev
      MINIO_SSL: ${MINIO_SSL}
      MINIO_USER: ${MINIO_USER}
      MINIO_PASSWORD: ${MINIO_PASSWORD}
    restart: unless-stopped
    ports:
      - 3000:3000
    entrypoint: ['npm', 'run', 'start:prod']

  setup-minio-buckets:
    build:
      context: .
      dockerfile: Dockerfile-setup-minio-buckets
    environment:
      NEXT_PUBLIC_MINIO_ENDPOINT: ${NEXT_PUBLIC_MINIO_ENDPOINT}
      MINIO_SSL: ${MINIO_SSL}
      MINIO_USER: ${MINIO_USER}
      MINIO_PASSWORD: ${MINIO_PASSWORD}
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      BT_USER_PASSWORD: ${BT_USER_PASSWORD}
      ADMIN_USER_PASSWORD: ${ADMIN_USER_PASSWORD}
    entrypoint: /app/scripts/minio/index.sh

  minio:
    image: quay.io/minio/minio:latest
    container_name: minio_prod
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data_prod:/var/lib/minio/data
    healthcheck:
      test: ['CMD', 'mc', 'ready', 'local']
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - 9000:9000
