volumes:
  minio_data_stg:

services:
  app:
    container_name: app_stg
    build:
      context: .
      network: host
      dockerfile: Dockerfile-prod
      args:
        NEXT_PUBLIC_URL: ${NEXT_PUBLIC_URL}
        DATABASE_URL: ${DATABASE_URL}
        BT_USER_PASSWORD: ${BT_USER_PASSWORD}
        ADMIN_USER_PASSWORD: ${ADMIN_USER_PASSWORD}
        SESSION_SECRET: ${SESSION_SECRET}
    environment:
      BT_USER_PASSWORD: ${BT_USER_PASSWORD}
      ADMIN_USER_PASSWORD: ${ADMIN_USER_PASSWORD}
      NEXT_PUBLIC_URL: ${NEXT_PUBLIC_URL}
      SESSION_SECRET: ${SESSION_SECRET}
      DATABASE_URL: ${DATABASE_URL}
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
      MINIO_SSL: ${MINIO_SSL}
      MINIO_PORT: ${MINIO_PORT}
      MINIO_ENDPOINT: ${MINIO_ENDPOINT}
      MINIO_BUCKET_PRIVATE: ${MINIO_BUCKET_PRIVATE}
      MINIO_BUCKET_PUBLIC: ${MINIO_BUCKET_PUBLIC}
      NEXT_PUBLIC_MINIO_ENDPOINT: ${NEXT_PUBLIC_MINIO_ENDPOINT}
    restart: unless-stopped
    ports:
      - 3001:3000
    entrypoint: ['npm', 'run', 'start:prod']
