volumes:
  postgres_data_dev:
  minio_data_dev:

networks:
  btnetworkdev:

services:
  db:
    image: postgres:17.6
    container_name: db_dev
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: johndoe
      POSTGRES_PASSWORD: johndoe123
    ports:
      - '5432:5432'
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    networks:
      - btnetworkdev

  minio:
    image: quay.io/minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: rootusername
      MINIO_ROOT_PASSWORD: rootpassword
    volumes:
      - minio_data_dev:/var/lib/minio/data
    networks:
      - btnetworkdev
    healthcheck:
      test: ['CMD', 'mc', 'ready', 'local']
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - 9000:9000
      - 9001:9001

  setup-job:
    build:
      context: .
      dockerfile: Dockerfile-setup
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public
      MINIO_ENDPOINT: ${MINIO_ENDPOINT}
      MINIO_SSL: ${MINIO_SSL}
      MINIO_USER: ${MINIO_USER}
      MINIO_PASSWORD: ${MINIO_PASSWORD}
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      BT_USER_PASSWORD: ${BT_USER_PASSWORD}
    networks:
      - btnetworkdev
    depends_on:
      minio:
        condition: service_healthy
      db:
        condition: service_started
    entrypoint: /app/scripts/setup/index.sh
