volumes:
  minio_data_prod:

services:
  app:
    container_name: app_prod
    build:
      context: .
      network: host
      dockerfile: Dockerfile-prod
      args:
        NEXT_PUBLIC_URL: https://www.basetime.online
        DATABASE_URL: ${DATABASE_URL}
        BT_USER_PASSWORD: ${BT_USER_PASSWORD}
        ADMIN_USER_PASSWORD: ${ADMIN_USER_PASSWORD}
        SESSION_SECRET: ${SESSION_SECRET}
        MINIO_ENDPOINT: ${MINIO_ENDPOINT}
    environment:
      BT_USER_PASSWORD: ${BT_USER_PASSWORD}
      ADMIN_USER_PASSWORD: ${ADMIN_USER_PASSWORD}
      NEXT_PUBLIC_URL: https://www.basetime.online
      SESSION_SECRET: ${SESSION_SECRET}
      DATABASE_URL: ${DATABASE_URL}
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY}
      MINIO_SSL: true
      MINIO_PORT: 443
      MINIO_ENDPOINT: ${MINIO_ENDPOINT}
      MINIO_BUCKET_PRIVATE: basetime-prod-private
      MINIO_BUCKET_PUBLIC: basetime-prod-public
      NEXT_PUBLIC_MINIO_ENDPOINT: https://pub-add17f3368d54ccaa1ef0e1d08ef11db.r2.dev
    restart: unless-stopped
    ports:
      - 3000:3000
    entrypoint: ['npm', 'run', 'start:prod']
