volumes:
  postgres_data_stg:
  minio_data_stg:

networks:
  btnetworkstg:

services:
  app:
    build:
      context: .
      network: host
      dockerfile: Dockerfile
      args:
        MINIO_ENDPOINT: ${MINIO_ENDPOINT}
        DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5433/${POSTGRES_DB}?schema=public
    environment:
      NEXT_PUBLIC_URL: ${NEXT_PUBLIC_URL}
      SESSION_SECRET: ${SESSION_SECRET}
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public
      MINIO_ENDPOINT: ${MINIO_ENDPOINT}
      MINIO_SSL: ${MINIO_SSL}
      MINIO_USER: ${MINIO_USER}
      MINIO_PASSWORD: ${MINIO_PASSWORD}
    restart: unless-stopped
    depends_on:
      - db
      - minio
      - setup-job
    ports:
      - 3001:3000
    networks:
      - btnetworkstg
    entrypoint: ['npm', 'run', 'start:prod']

  setup-job:
    build:
      context: .
      dockerfile: Dockerfile-setup
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public
      MINIO_ENDPOINT: ${MINIO_ENDPOINT}
      MINIO_SSL: ${MINIO_SSL}
      MINIO_USER: ${MINIO_USER}
      MINIO_PASSWORD: ${MINIO_PASSWORD}
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      BT_USER_PASSWORD: ${BT_USER_PASSWORD}
      ADMIN_USER_PASSWORD: ${ADMIN_USER_PASSWORD}
    networks:
      - btnetworkstg
    depends_on:
      minio:
        condition: service_healthy
      db:
        condition: service_started
    entrypoint: /app/scripts/setup/index.sh

  db:
    image: postgres:17.6
    container_name: db_stg
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data_stg:/var/lib/postgresql/data
    networks:
      - btnetworkstg
    ports:
      - 5433:5432

  minio:
    image: quay.io/minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data_stg:/var/lib/minio/data
    networks:
      - btnetworkstg
    healthcheck:
      test: ['CMD', 'mc', 'ready', 'local']
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - 9001:9000
