name: Quality

on:
  pull_request:
    branches:
      - develop
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      PRISMA_ENGINES_CHECKSUM_IGNORE_MISSING: 1
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: npm install

      - name: Copy Environment File
        run: cp .env.example .env

      - name: Build and run dev containers
        run: |
          docker compose --file docker-compose.dev.yml up -d --build --force-recreate

      - name: Wait for containers
        run: sleep 5

      - name: Run prisma migrations
        run: npx prisma migrate deploy

      - name: Format
        run: npm run format

      - name: Lint
        run: npm run lint

      - name: Types
        run: npm run types

      - name: Start Next.js server
        run: nohup npm run dev &

      - name: Wait for server to be ready
        run: npx wait-on http://localhost:3000 --timeout 20000

      - name: Log all env variables
        run: env | sort

      - name: test
        run: npm run test
