name: Quality

on:
  pull_request:
    branches:
      - develop
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      PRISMA_ENGINES_CHECKSUM_IGNORE_MISSING: 1
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: npm install

      - name: Copy Environment File
        run: cp .env.example .env

      - name: Load .env to GITHUB_ENV
        run: |
          grep -v '^#' .env | grep -v '^$' >> $GITHUB_ENV

      - name: Build and run dev containers
        run: |
          docker compose up -d
          sleep 5

      - name: Format
        run: docker compose exec app npm run format

      - name: Lint
        run: docker compose exec app npm run lint

      - name: Types
        run: docker compose exec app npm run types

      - name: test
        run: docker compose exec app npm run test
