name: Staging deploy

on:
  push:
    branches: ['main']
  workflow_dispatch:

jobs:
  tests:
  runs-on: ubuntu-latest
  env:
    PRISMA_ENGINES_CHECKSUM_IGNORE_MISSING: 1
  steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      run: npm install

    - name: Copy Environment File
      run: cp .env.example .env

    - name: Load .env to GITHUB_ENV
      run: |
        grep -v '^#' .env | grep -v '^$' >> $GITHUB_ENV

    - name: Build and run dev containers
      run: |
        docker compose up -d
        sleep 5

    - name: Format
      run: docker compose exec app npm run format

    - name: Lint
      run: docker compose exec app npm run lint

    - name: Types
      run: docker compose exec app npm run types

    - name: test
      run: docker compose exec app npm run test

  deploy:
    needs: tests
    timeout-minutes: 10
    environment: stg
    runs-on: self-hosted
    env:
      BT_USER_PASSWORD: ${{ secrets.BT_USER_PASSWORD }}
      ADMIN_USER_PASSWORD: ${{ secrets.ADMIN_USER_PASSWORD }}
      NEXT_PUBLIC_URL: ${{ vars.NEXT_PUBLIC_URL }}
      SESSION_SECRET: ${{ secrets.SESSION_SECRET }}
      POSTGRES_DB: ${{ vars.POSTGRES_DB }}
      POSTGRES_USER: ${{ vars.POSTGRES_USER }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
      MINIO_ROOT_USER: ${{ vars.MINIO_ROOT_USER }}
      MINIO_ROOT_PASSWORD: ${{ secrets.MINIO_ROOT_PASSWORD }}
      MINIO_USER: ${{ vars.MINIO_USER }}
      MINIO_PASSWORD: ${{ secrets.MINIO_PASSWORD }}
      NEXT_PUBLIC_MINIO_ENDPOINT: ${{ vars.NEXT_PUBLIC_MINIO_ENDPOINT }}
      MINIO_SSL: ${{ vars.MINIO_SSL }}

    defaults:
      run:
        working-directory: stg

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          path: stg

      - name: Remove stopped containers
        run: |
          docker ps -a -q --filter status=exited | xargs -r docker rm

      - name: Remove dangling images
        run: |
          docker images -f "dangling=true" -q | xargs -r docker rmi

      - name: db and minio
        run: |
          docker compose -f docker-compose.stg.yml up -d db minio

      - name: setup-minio-buckets
        run: |
          docker compose -f docker-compose.stg.yml up -d --build --force-recreate setup-minio-buckets
          sleep 5

      - name: app
        run: docker compose -f docker-compose.stg.yml up -d --build --force-recreate app

      - name: Wait for containers
        run: sleep 5

      - name: export-static
        run: ./scripts/export-static.sh -c app_stg /var/www/html/stg/

      - name: Prune Docker
        run: docker system prune -f
