name: Staging deploy

on:
  push:
    branches: ['main']
  workflow_dispatch:

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: npm install

      - name: Format
        run: npm run format

      - name: Lint
        run: npm run lint

      - name: Types
        run: npm run types

  tests:
    needs: quality
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        run: npm install

      - name: Copy Environment File
        run: cp .env.example .env

      - name: Build and run dev containers
        run: |
          docker compose --file docker-compose.dev.yml up -d --build --force-recreate

      - name: Wait for containers
        run: sleep 10

      - name: Start Next.js server
        run: nohup npm run dev &

      - name: Wait for server to be ready
        run: npx wait-on http://localhost:3000 --timeout 20000

      - name: test
        run: npm run test

  deploy:
    needs: tests
    environment: stg
    runs-on: self-hosted
    env:
      NEXT_PUBLIC_URL: ${{ vars.NEXT_PUBLIC_URL }}
      SESSION_SECRET: ${{ secrets.SESSION_SECRET }}
      POSTGRES_DB: ${{ vars.POSTGRES_DB }}
      POSTGRES_USER: ${{ vars.POSTGRES_USER }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
      MINIO_ROOT_USER: ${{ vars.MINIO_ROOT_USER }}
      MINIO_ROOT_PASSWORD: ${{ secrets.MINIO_ROOT_PASSWORD }}
      MINIO_USER: ${{ vars.MINIO_USER }}
      MINIO_PASSWORD: ${{ secrets.MINIO_PASSWORD }}
      MINIO_ENDPOINT: ${{ vars.MINIO_ENDPOINT }}
      MINIO_SSL: ${{ vars.MINIO_SSL }}

    defaults:
      run:
        working-directory: stg

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          path: stg

      - name: Remove stopped containers
        run: |
          docker ps -a -q --filter status=exited | xargs -r docker rm

      - name: Remove dangling images
        run: |
          docker images -f "dangling=true" -q | xargs -r docker rmi

      - name: Build and run containers
        run: |
          docker compose --file docker-compose.stg.yml up -d --build --force-recreate

      - name: Wait for containers
        run: sleep 10

      - name: Prune Docker (optional)
        run: docker system prune -f
